button, input, select{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.profile{
  background-color: #E5E5E5;
}

.active_link{
  color: #4F4F4F !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #4F4F4F;
}

.nav-item a{
  color: #4F4F4F;
}

// .nav-item a:hover{
//   color: #CBF74F !important;
// }
.profile__wrapper{

  .profile__header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #4F4F4F;



    .profile__header_logo{
      width: 64px;
      height: 42px;
    }
    .profile__header_wr{
      width: 100%;
    }

    &_right{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      color: #4F4F4F;
    }

    &_right_btn{
      border: 2px solid #CBF74F;
      box-sizing: border-box;
      border-radius: 18px;
      padding: 10px 30px;
    }
    &_right_btn:focus{
      background: #cbff35;
    }
    &_right_btn:hover{
      background: #cbff35;
    }
  }

}

//// main  ///////

.profile__main{
  max-width: 1200px;
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F2F2F2;
  box-shadow: 0px 0px 15px #BBF417;
  position: relative;

  .figure{
    max-width: 510px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
    transform: skew(-23deg);
    background: linear-gradient(216.08deg, #C2FA4D 22.65%, rgba(255, 255, 255, 0) 78.56%), linear-gradient(139.02deg, #DEFF7E 20.18%, #C4F142 85.95%), #CBF74F;
    position: absolute;
    top: 0;
    right: 20.4%;
    z-index: 0;
  }

  .profile__main_h1 h1{
  text-transform: uppercase;
  z-index: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #4F4F4F;
  }

  &_anketa{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 22px;
    z-index: 5;

    &_photo{
      margin-top: 100px;
      width: 186px;
      height: 186px;
    }

    &_text_wrapper h3{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: #4F4F4F;
      }
    
    }
    .main__profile_anketa_btn{
      position: relative;
      margin: auto;
      padding: 12px 22px;
      transition: all .2s ease;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 28px;
        background: rgba(203,247,79,.5);
        width: 45px;
        height: 45px;
        transition: all .3s ease;
      }
      span{
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #333333;
        text-transform: uppercase;
        vertical-align: middle;
      }
      &:hover{
        &:before {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        background: rgba(203,247,79,1);
        }
    
      }



  }

  .profile__main--anketa--left{
    max-width: 190px;
    width: 100%;
  }
  .profile__main_anketa_text{
    max-width: 475px;
    width: 100%;
    height: 522px;
  }
  .profile__main_anketa_first{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #4F4F4F;
  }
  .profile__main__anketa_last{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;  
    color: #4F4F4F;
  }
}

.h3{
  margin-top: 55px !important;
}

.profile__main_water{
  background: #FFFFFF;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  margin-left: 50px;

  & h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #4F4F4F;
    margin-top: 45px;
    text-align: center;
  }
  .profile__main_water_item{
    width: 33%;
    position: relative;
    cursor: pointer;

    .profile__main_water_close{
      position: absolute;
      top: -2%;
      right: 19%;
      cursor: pointer;
    }
  }

}



.profile__main_tracker{
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
  border-radius: 22px;
  z-index: 5;

  .profile__main_tracker_item{
    max-width: 30%;
    &_span{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: #4F4F4F;
    }
    &_num{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.05em;
      color: #333333;
    }

    &_kkl{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      color: #4F4F4F;
      margin-left: -10px;
    }
  }
}
.red {
  color: red !important;
}

.profile__main_eat{
  background: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.12);
  border-radius: 22px;
  z-index: 5;

  & h4{
    margin-left: 26%;
  }

  &_span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 8px;
    letter-spacing: 0.05em;
    color: #BDBDBD;
    margin-bottom: 25px;
  }


  & button{
    margin-bottom: 18px;
    margin-left: 60%;
  }

}

.profile__main__tracker--big--red{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #EB5757;
}

.profile__main__tracker--big--item{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #4F4F4F;
}

.footer_profile {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;

  &:hover{ 
    text-decoration: none !important;
    color: black;
  }
  &:focus{ 
    text-decoration: none !important;
    color: black;
  }
}


.icon {
  color: black !important;
  font-size: 18px;
  text-decoration: none !important;
}
.icon:hover {
  color: #BBF417 !important;
}


/////// this anketForm.vue////////

.profile__main--ava--plus{
  right: 9%;
  bottom: 14%;
}
.profile__main--anket--select{
  border: 2px solid #CBF64F;
  border-radius: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #4F4F4F;
  padding: 5px;
}

.profile__main--anketa-name{
  width: 100%;
  max-width: 150px;
  border-bottom: 1px solid #CBF74F;
  padding: 5px;
}



.form-modal {
  &--height{
    width: 82%;
  }
  &--weight{
    width: 84%;
  }
  &--age{
    width: 77%;
  }
  &--target{
    width: 83%;
  }
  &--activity{
    width: 94%;
  }
}

.form-modal__input_a {
  margin-bottom: 10px !important;
}

textarea {
  resize: none;
}


//// trainer ////////
.figure__trainer {
  width: 0;
  height: 0;
  border-top: 658px solid #C2FA4D;
  border-right: 1110px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.profile__main--h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #4F4F4F;
}